// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


// colour scheme for whats4dinner

$primary: #52796F;
$light-green:#84A98C;
$text-green: #CAD2C5;
$dark-green: #354F52;
$darkest-green: #2F3E46;
