// css for create recipe page
#title {
  padding-top: 100px;
}
.form-space {
  padding-top: 180px;
  padding-bottom: 300px;
}
.form-inputs {
  font-size: 18px;
  text-align: center;
  margin: 0px 25px;
}
.form-anchor, .btn-create {
  padding: 8px 24px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
  margin: 0 auto;
  align-items: center;
  background-color: #2B9348;
  opacity: 100;
  color: white;
  border-radius: 4px;
  border: none;
  text-decoration: none !important;
}

.form-anchor:hover {
  opacity: 1;
}

.form-action {
  text-align: center;
}
