// css for create recipe page
#title {
  padding-top: 100px;
}

.form-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-section-1 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.form-section-1 > .form-space {
  margin-top: 25%;
}

.form-space {
  // padding: 100px 100px;
  // margin: 30px 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  background-color: #fefefa;
}

.form-inputs {
  font-size: 18px;
  text-align: center;
  padding: 80px 20px;
  width: 300px;
  max-height: 1300px;
}

.form-anchor, .btn-create {
  padding: 8px 24px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
  margin: 0 auto;
  align-items: center;
  background-color: #2B9348;
  opacity: 100;
  color: #fefefa;
  border-radius: 4px;
  border: none;
  text-decoration: none !important;
}

.form-anchor:hover {
  opacity: 1;
}

.form-action {
  text-align: center;
}
