.recipe-banner {
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  height: 180px;
  text-shadow: 0 0 3px black;
}

.recipe-buttons {
  display: flex;
  justify-content: space-around;
}

.recipe-hr {
  width: 50%;
  margin: 30px auto;
  color: $primary;
  opacity: 1;
}

.recipe-title {
  color: $primary;
}

.comment-form {
  text-align: center;
}

.comment-input {
  height: 60px;
  width: 300px;
  margin: 15px;
}

.comment-list {
  list-style: none;
}
