.recipe-banner {
  background-size: cover;
  background-position: center;
  color: #fefefa;
  // height: 180px;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

.recipe-banner > h1 {
  margin: 4rem 0;
  text-align: center;
}

.recipe-buttons {
  display: flex;
  justify-content: space-around;
}

.recipe-hr {
  width: 50%;
  margin: 30px auto;
  color: $primary;
  opacity: 1;
}

.recipe-title {
  color: $primary;
}

.recipe-note {
  text-decoration: underline;
  font-size: 18px;
}

.comment-form {
  text-align: center;
}

.comment-input {
  height: 60px;
  width: 300px;
  margin: 15px;
}

.comment-list {
  list-style: none;
}

.comment-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ol > li {
  padding-bottom: 16px;
}
