<div class="login">
  <% if user_signed_in? %>
    <% if current_user.photo.attached? %>
      <%= cl_image_tag(current_user.photo.key,
                                    :transformation=>[ {:aspect_ratio=>"1.0", :gravity=>"face", :width=>100, :zoom=>0.5, :crop=>"thumb"}],
                                    class: "dropdown-toggle avatar",
                                    id: "navbarDropdown",
                                    data: { bs_toggle: "dropdown" },
                                    'aria-haspopup': true,
                                    'aria-expanded': false) %>
    <% else %>
      <%= image_tag "https://static.thenounproject.com/png/363640-200.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
    <% end %>

    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
      <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
    </div>
  <% else %>
    <%= link_to "Login", new_user_session_path %>
  <% end %>
</div>
