<div data-controller="comments" data-comments-recipe-value=<%=@recipe.id%> data-comments-userecipe-value=<%=@user_recipe.id%>>
  <div data-comments-target="list">
    <% @recipe.comments.each do |comment| %>
      <%= render "shared/comment_partial", comment: comment, recipe:@recipe %>
    <% end %>
  </div>
  <div class="comment-form">
    <form data-comments-target="input" data-action="keyup->comments#submitButton">
      <input data-comments-target="field" type="text" name="input" class="comment-input">
      <button data-comments-target= "submit" data-action="click->comments#add" class="btn-submit-disable" disabled="true">SUBMIT</button>
    </form>
  </div>
</div>
