
  <div class="cookbook-card-container">
    <% user_recipes.each do |user_recipe| %>
    <% recipe = user_recipe.recipe %>
      <div class="cookbook-recipe-card">
        <%= link_to cookbook_recipe_path(user_recipe) do%>
          <%= recipe.title %>
        <% end %>
          <%= cl_image_tag recipe.photo, height: 100, width: 200, crop: :fill  %>
          <p><strong>Prep time: </strong><%= recipe.prep_time %></p>
      </div>
    <% end %>
  </div>
