<% if request.path == "/" %>
  <div class="homepage-banner">
    <%= render 'shared/avatar' %>

    <h1>WHAT'S FOR DINNER?</h1>
    <p>The app allowing foodies to get inspired by what their network is cooking.</p>

    <div class="btn btn-primary btn-search">
      SEARCH
    </div>
  </div>
<% end %>

<% if request.path == "/my-cookbook" %>
  <div class="banner">
    <h1>MY COOKBOOK</h1>
    <%= render 'shared/avatar' %>
  </div>
  <%# elsif request.path == "/my-cookbook/" %>
  <%# <div class="banner"> %>
    <%# <h1>MY COOKBOOK"</h1> %>
  <%# </div> %>
<% end %>
