<div class="container text-center py-3 margin-top-content">
  <p>We're sorry, <%= excuse %>!</p>
  <br>
  <% image = ["cooking.svg", "burger.svg", "breakfast.svg", "groceries.svg", "chef.svg"].sample %>
  <%= image_tag image, class: "empty-history-img" %>
</div>
