<div class="container container-bg-white">
  <div class="cookbook-card-container">
    <% user_recipes.each do |user_recipe| %>
      <% @recipe = user_recipe.recipe %>
      <%= render 'shared/modal', user_recipe: user_recipe %>
      <div class="cookbook-recipe-card" data-toggle="modal" data-target="#modal-<%= @recipe.id %>">
        <%= render "shared/recipe_card", recipe: @recipe, user_recipe: user_recipe %>
      </div>
    <% end %>
  </div>
</div>
