<div class="d-flex justify-content-end" data-controller="upvotes" data-upvotes-recipe-value=<%=@recipe.id%>>
  <% upvote = Upvote.where(user_id: current_user.id, recipe_id: @recipe.id).first %>
  <% if !upvote %>
    <a data-upvotes-target="submit" data-action="click->upvotes#vote"> <i class="fa-regular fa-heart" style="color: #2B9348"></i> </a>
    <a data-upvotes-target="remove" data-action="click->upvotes#unvote" style="display:none"> <i class="fa-solid fa-heart" style="color: #2B9348"></i> </a>
  <% else %>
    <a data-upvotes-target="submit" data-action="click->upvotes#vote" style="display:none"> <i class="fa-regular fa-heart" style="color: #2B9348"></i> </a>
    <a data-upvotes-target="remove" data-action="click->upvotes#unvote" > <i class="fa-solid fa-heart" style="color: #2B9348"></i> </a>
  <% end %>
  <p data-upvotes-target="count", style="margin-left: 6px;"><%= pluralize @recipe.upvotes.count, 'like'%></p>
</div>
