
<div class="container">
  <h1 class="mt-3"> All users </h1>
  <div class="row">
    <% users.each do |user| %>
      <div class="mx-auto" style="list-style: none;">
        <li><%= link_to "#{user.first_name} #{user.last_name}", user_cookbook_path(user), class:"d-flex justify-content-around simple-user-card m-2"%></li>
      </div>
    <% end %>
  </div>
</div>
