<div class="container">
  <div class="homepage-cards">
    <div class="info-card">
      <%# <div class="card-img"> %>
        <img src="https://static.thenounproject.com/png/3278868-200.png" alt="cookbook-icon">
      <%# </div> %>
      <%# <div class="card-description"> %>
        <p>Add recipes to your personal coookbook</p>
      <%# </div> %>
    </div>
    <div class="info-card">
      <p>Follow your friends on the platform and browse their own cookbook </p>
    </div>
    <div class="info-card">
      <p>Filter and search for specific recipes</p>
    </div>
  </div>
