<div data-controller="search" >
  <form class="mt-3">
    <div class="d-flex justify-content-center" >
        <select data-search-target="search" data-action="change->search#changeView" >
          <option value="recipe">Search Recipes</option>
          <option value="user">Search Users</option>
        </select>
      <div data-search-target="recipesearch">
        <input type="text" data-search-target="recipeinput" data-action="keyup->search#searchRecipe">
      </div>
      <div data-search-target="usersearch", style="display: none">
        <input type="text" data-search-target="userinput" data-action="keyup->search#searchUser">
      </div>
    </div>
  </form>
  <div data-search-target="recipelist"></div>
  <div data-search-target="userlist"></div>
</div>
