.btn-top-10 {
  background-color: #2B9348;
  font-size: 16px;
  border-radius: 4px;
  color: white;
  padding: 6px 3px;
  text-align: center;
  margin-top: 20px;
}

.btn-top-10 > a{
  color: white;
  text-decoration: none;
}

.btn-search {
  border-radius: 5px;
  color: white;
  width: 158px;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.btn-search > a{
  color: white;
  text-decoration: none;
}

.btn-category {
  border-radius: 20px;
  background-color: #CDDF00;
  padding: 2px 10px;
  // margin-right: 6px;
  // margin-bottom: 15px;
  margin: 10px;
}
