.btn-search {
  border-radius: 4px;
  color: #fefefa;
  width: 158px;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.cooked-btn, .remove-btn, .btn-wishlist, .btn-add-cookbook {
  background-color: $primary;
  border-radius: 4px;
  width: 170px;
  height: 40px;
  color: #fefefa;
  margin: 5px;
  border: none;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.btn-submit {
  border-radius: 4px;
  background-color: $primary;
  color: #fefefa;
  box-shadow: 0px 4px 4px 0px #00000040;
  width: 170px;
  height: 40px;
  border: none;
}

.btn-submit-disable {
  border-radius: 4px;
  background-color: #CAD2C5;
  color: #2F3E46;
  box-shadow: 0px 4px 4px 0px #00000040;
  width: 170px;
  height: 40px;
  border: none;
}

.btn-create-account {
  border-radius: 4px;
  background-color: $secondary;
  color: #fefefa;
  box-shadow: 0px 4px 4px 0px #00000040;
  width: 200px;
  height: 40px;
  border: none;
}

.btn:hover {
  color: #fefefa
}

.add-recipe-button{
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  width: 350px;
  height: 30px;
  border: none;
  background-color: #2B9348;
  font-size: 16px;
  border-radius: 4px;
  color: #fefefa;
  text-align: center;
  box-shadow: 0px 4px 4px 0px #00000040;
  text-decoration: none;
  padding-top: 3px;
  margin-bottom: 15px;
}
