.btn-top-10 {
  background-color: #2B9348;
  font-size: 16px;
  border-radius: 4px;
  color: #fefefa;
  padding: 6px 3px;
  text-align: center;
  margin-top: 20px;
  box-shadow: 0px 4px 4px 0px #00000040;
  text-decoration: none;
  border: 2px solid $primary;
}

.btn-top-10-inactive {
  background-color: #fefefa;
  opacity: 0.8;
  font-size: 16px;
  border-radius: 4px;
  color: $primary;
  padding: 6px 3px;
  text-align: center;
  margin-top: 20px;
  box-shadow: 0px 4px 4px 0px #00000040;
  text-decoration: none;
  text-shadow: none;
  border: 2px solid transparent;
}

.btn-top-10-inactive:hover {
  border: 2px solid $primary;
}

.btn-top-10-inactive > a {
  color: $primary;
  text-decoration: none;
}

.btn-top-10-inactive > a:hover {
  color: $primary;
  text-decoration: none;
}

.btn-top-10 > a{
  color: #fefefa;
  text-decoration: none;
}

.btn-login {
  border-radius: 5px;
  color: #fefefa;
  width: 158px;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.btn-login > a{
  color: #fefefa;
  text-decoration: none;
}

.btn-category {
  border-radius: 20px;
  background-color: #CDDF00;
  color: #333234;
  text-shadow: none;
  padding: 2px 10px;
  margin: 10px;
  font-size: 12px;
  display: inline;
}

.back-button-banner {
  top: 16px;
  position: absolute;
  left: 16px;
}

.back-button-banner-right {
  top: 16px;
  position: absolute;
  right: 16px;
}

.back-button-banner-right a{
  text-decoration: none;
  font-size: 24px;
  text-shadow: 1px 1px 10px black;
  color: white;
}

.btn-edit-items a{
    background-color: #2B9348;
    font-size: 16px;
    border-radius: 4px;
    color: #fefefa;
    padding: 8px 12px;
    text-align: center;
    margin-top: 20px;
    box-shadow: 0px 4px 4px 0px #00000040;
    text-decoration: none;
}

.btn-view-hide-comments {
  background-color: #2B9348;
  font-size: 16px;
  border-radius: 4px;
  color: #fefefa;
  padding: 8px 24px;
  text-align: center;
  margin-top: 20px;
  box-shadow: 0px 4px 4px 0px #00000040;
  text-decoration: none;
}

.btn-search {
  background-color: #2B9348;
  font-size: 16px;
  border-radius: 4px;
  color: #fefefa;
  text-align: center;
  box-shadow: 0px 4px 4px 0px #00000040;
  text-decoration: none;
}
