.cookbook-history-card {
  padding: 5px;
  background-color: #F3F3F3;
  border-radius: 8px;
  padding-bottom: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  margin: 5px 12px;
}

.cookbook-history-card a{
  text-decoration: none;
  color:#333234;
}

.container a.sml-a-tag {
  font-size: 14px;
}

.cookbook-history-card p {
  font-size: 14px;
}

.container .recipe-title {
  font-size: 24px;
}

.container .img {
  border-radius: 5px;
}

.padding-right-0 {
  padding-right: 0px;
}

.empty-history-img, .empty-top-img {
  height: 200px;
  width: 200px;
}
