.cookbook-history-card {
  border: solid;
  padding: 5px;
}

.cookbook-history-card a.test {
  font-size: 14px;
}

.cookbook-history-card p {
  font-size: 14px;
}

.cookbook-history-card a {
  font-size: 24px;
}
