.cookbook-card-container{
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cookbook-recipe-card {
  background-color: #ABABAB;
  width: 350px;
  border-radius: 10px;
  height: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.cookbook-recipe-card > a {

  color: black;
  text-decoration: none;
  padding-left: 20px;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.cookbook-recipe-card > img {
  margin-left: 20px;
  margin-top: 10px;
}

.cookbook-recipe-card > p {
  margin-left: 20px;
  margin-top: 10px;
}
