.form-control {
  outline-color: $primary;
}

.search-form > input {
  outline-color: $primary;
}

.comment-input, .form-inputs:focus {
  outline-color: $primary;
}

.form-control:focus {
  color: #0E0000;
  background-color: #F4F4F4;
  border-color: $primary;
  outline-color: $primary;
  box-shadow: none;
}
