.homepage-banner {
  background-size: cover;
  background-position: center;
  height: 230px;
  background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), image-url('pexels-lukas-349609.jpeg');
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.homepage-banner > h1 {
  margin: 0;
  color: black;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 24px;
  font-weight: bold;
  padding: 28px 0 0;
  text-shadow: 0px 4px 4px 0px #00000040;
}

.homepage-banner > p {
  text-align: center;
}

.homepage-banner > .btn {
  margin-bottom: 22px;
}

.homepage-banner > .login {
  align-self: flex-end;
}

.banner {
  background-size: cover;
  background-position: center;
  height: 120px;
  background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), image-url('pexels-lukas-349609.jpeg');
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}

.banner > .login {
  align-self: flex-end;
}
