.navbar {
  justify-content: space-between;
  background: #fefefa;
  position: fixed;
  bottom: 0;
  width: 375px;
  left: 0;
  right: 0;
  margin: auto;
}

.active{
  color: #2B9348;
  text-decoration: underline;
}

.inactive{
  color: #333234;
  text-decoration: none;
}

.inline {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  margin: 0;
  padding: 5px 0;
}

.inline > li {
  display: inline-flex;
  border-right: solid 1px #333234;
  padding: 0 10px;
}


.inline > li:last-child {
  border-right: none;
}

.ghost-nav {
  height: 70px;
}
