.newsfeed-recipe-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.newsfeed-recipe-card {
  background-color: #f3f3f3;
  font-size: 16px;
  padding: 20px;
  width: auto;
  border-radius: 8px;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.newsfeed-user {
  font-size: 24px;
  text-decoration: none;
  margin-left: 10px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
}

.newsfeed-item-center {
  display: flex !important;
  align-items: center;
}

.newsfeed-minutes-ago {
  font-size: 12px;
  font-style: italic;
}

.newsfeed-divider {
  display: block;
  height: 4px;
  background-color: #2B9348;
  width: 48px;
  margin: 8px 0 4px auto;
}

// .newsfeed-content {
//   font-family: 'Open Sans', sans-serif;
// }
