<div class="container">
  <div class="row justify-content-center container-bg-white">
    <div class="col-4">
      <h1 class="btn-top-10">Add Recipe</h1>
    </div>
    <div class="col-4">
      <h1 class="btn-top-10">Top ten</h1>
    </div>
    <div class="col-4">
      <h1 class="btn-top-10">History</h1>
    </div>
  </div>
</div>
<%= render "shared/cookbook", user: @user, user_recipes: @user_recipes %>
