<div class="container">
  <div class="row justify-content-center">
    <div class="col-4">
      <h1 class="btn-top-10">Create recipe</h1>
    </div>
    <div class="col-4">
      <h1 class="btn-top-10">Top 10</h1>
    </div>
    <div class="col-4">
      <h1 class="btn-top-10">History</h1>
    </div>
  </div>
</div>
<%= render "shared/cookbook", user: @user, user_recipes: @user_recipes %>
