<% if @wishlist.length > 0 %>
  <div class="container container-bg-white">
    <div class="cookbook-card-container">
      <% @wishlist.each do |user_recipe| %>
        <% recipe = user_recipe.recipe %>
        <div class="cookbook-recipe-card">
          <%= link_to my_wishlist_recipe_path(user_recipe) do%>
            <%= render "shared/recipe_card", recipe: recipe, user_recipe: user_recipe %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
    <%= render "shared/no_content", excuse: "there are no recipes in your wishlist yet" %>
<% end %>
