// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/header";
@import "components/cookbook-recipe-card";
@import "components/cookbook-history-card";
@import "components/simple-user-card";
@import "components/newsfeed";


body {
  background-color: #fefefa;
  color: #333234;
}

.content-container {
  display: flex;
  justify-content: center;
  background-color: #333234;
}

.content-div {
  width: 375px;
  height: 100%;
  min-height: 100vh;
}

// white #fefefa
// black #333234
// shadow rgba(0, 0, 0, 0.2)
